/*COMMON*/
body {
  font-size: 14px;
}
.view {
  margin: auto;
  width: 375px;
  height: 756px;
  padding-top: 12px;
  background-color: #eeece5;
  position: relative;
  overflow: hidden;
}
.status {
  width: 375px;
  height: 44px;
  background-color: cornflowerblue;
}
::-webkit-scrollbar {
  display: none;
}
/*NAVIGATION*/
nav {
  width: 100%;
  height: 76px;
  background-color: #00bdb2;
  position: absolute;
  bottom: 0;
}
.wrap {
  width: 285px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap--change {
  position: relative;
}
.wrap--change .arrow {
  position: absolute;
  top: -13px;
  left: -15px;
}
.wrap--change .arrow-reverse {
  position: absolute;
  top: -6px;
  left: -3px;
  transform: rotateY(180deg);
}

/*HEADER*/
.account__header {
  width: 87.2%;
  height: 43px;
  margin: 0 auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account__header > img {
  width: 43px;
  height: 43px;
  margin-right: 27px;
}
.account__header--feature {
  display: flex;
  align-items: center;
}
.account__header--feature--qr {
  position: relative;
}
.account__header--feature--qr img:first-child {
  height: 21px;
  width: 24px;
  margin-top: 4px;
}
.account__header--feature--qr img:last-child {
  position: absolute;
  top: 13px;
  left: 3.5px;
}
.account__header--feature--search {
  margin-left: 18px;
}

/*MAIN*/
.account__main {
  width: 279px;
  height: 137px;
  background-color: #fff;
  margin: 33px auto 24px;
  padding: 12px 0 6px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account__main--header {
  width: 100%;
  height: 21px;
  display: flex;
  align-items: center;
}

.account__main--number {
  font-size: 14px;
  color: #858585;
  margin: auto;
}
.account__main--transfer {
  font-size: 14px;
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 17px;
}
.account__main--balance--money {
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  color: #000;
  margin: 16px;
}
.account__main--chart {
  width: 83%;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.account__main--chart__bar {
  width: 202px;
  height: 6px;
  background-color: #c4c4c4;
  border-radius: 3px;
  overflow: hidden;
}
.account__main--chart__bar--fill {
  width: 40%;
  height: 100%;
  background-color: #ffdb4c;
}
.account__main--chart__bar--btn {
  width: 4px;
  height: 17px;
  border-radius: 2px;
  background-color: #ff5f00;
  position: absolute;
  top: 0px;
  left: 40%;
  cursor: pointer;
}
.account__main--rest {
  height: 21px;
  line-height: 21px;
  text-align: center;
  color: #858585;
  margin-top: 11px;
}

/*ADVERTISEMENT*/
.account__ad {
  height: 21px;
  line-height: 21px;
  text-align: center;
  width: 100%;
}

/*CONTENTS*/
/*드래그와 위치 설정 해야함*/
.contents {
  background-color: #f5f5f5;
  height: 637px;
  width: 375px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
}
.contents__drag {
  padding: 4.3px 20px 10px;
  cursor: pointer;
}
.contents__drag--btn {
  width: 48px;
  height: 2.15px;
  background-color: #c4c4c4;
  border-radius: 4px;
}

/*CONTENTS-MONEY BOX*/
.contents__money-box {
  width: 308px;
  height: 55.6px;
  margin-top: 16.55px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.contents__money-box--ul {
  display: flex;
}
.contents__money-box--li {
  flex-shrink: 0;
  background-color: #dadada;
  width: 162px;
  height: 47px;
  border-radius: 6px;
  margin-right: 13px;
  overflow: hidden;
}
.contents__money-box--li-1 {
  background-color: coral;
  padding-top: 6px;
  width: 50%;
  height: 100%;
}
.contents__money-box--li-1__title,
.contents__money-box--li-1__money {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  margin-left: 13px;
}
.contents__money-box--add {
  width: 110px;
  height: 47px;
  cursor: pointer;
  flex-shrink: 0;
  color: #ff5f00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.contents__money-box--add strong {
  margin-top: 2px;
}
.contents__money-box--add span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ff5f00;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  line-height: 28px;
  text-align: center;
  margin-right: 6px;
}

/*CONTENTS-HISTORY*/
.contents__history {
  width: 302px;
  height: 100%;
  margin-top: 16px;
  overflow-y: scroll;
}
.contents__history--total-expen {
  color: #b4b4b4;
  text-align: end;
}
.contents__history--li__outer__header {
  display: flex;
  justify-content: space-between;
}
.contents__history--ul__inner {
  margin-bottom: 38px;
}
.contents__history--li__inner {
  line-height: 27px;
  padding: 8px 1px 7px;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
}
.contents__history--li__inner .income {
  color: #ff5f00;
}
