/*COMMON*/
body {
  background-color: #fff;
}
.view {
  height: 768px;
  padding-top: 0;
}
main {
  height: 623px;
  padding-left: 30px;
  overflow-y: scroll;
}
a {
  text-decoration: none;
}

/*HEADER*/
.title {
  width: 332px;
  height: 69px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.title strong {
  line-height: 36px;
  font-size: 24px;
  align-self: flex-end;
}
.title a {
  line-height: 21px;
  font-weight: 300;
}

/*REPORTS*/
.reports {
  width: 345px;
  padding-top: 29px;
}
.report__title {
  font-size: 18px;
  color: #444;
}

/*OPTION*/
.option {
  height: 135px;
}
.option__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.report__money {
  font-size: 24px;
  margin-right: 38px;
  color: #ff5f00;
}
.option__controller {
  width: 308px;
  margin: 33px 28.5px 0 0;
  position: relative;
}
.option__controller .account__main--chart__bar {
  width: 100%;
  height: 9.18px;
}
.option__controller .account__main--chart__bar--btn {
  width: 8px;
  height: 28px;
  top: -10px;
}

/*DAILY REPORTS*/
.reports__chart {
  height: 288px;
  overflow-x: scroll;
}
#myChart {
  margin-top: 30px;
}

/*MONTHLY EXPENDITURE*/
#myChart {
  height: 250px;
}
#doughnutText {
  width: 300px;
  position: absolute;
  font-size: 24px;
  top: 150px;
  text-align: center;
}
.reports__graph--circle {
  padding-top: 20px;
  position: relative;
}
.reports__graph--list {
  width: 315px;
  font-size: 18px;
  font-weight: 300;
}
.reports__graph--list li {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reports__graph--list > li > div {
  display: flex;
}
.reports__graph--list > li > div > strong {
  line-height: 24px;
}
.reports__graph--list > li > div > span {
  width: 45px;
  font-size: 30px;
}
.reports__graph--list > li > span {
  color: #858585;
}
